.img-container {
  display: flex;
  align-items: right;
  float: right; 
  gap: 20px;
}

.image {
  
  width: 100px; 
  height: auto;
}

address {
  width: 70%; /* Adjust width as needed, ensuring total is around 100% */
}

table, td  {
    border: 2px solid rgb(60, 60, 194);
    border-radius: 5px;
}

table {
    border: 2px solid blue;
    border-radius: 5px;
}

u {
    color: rgba(12, 12, 234, 0.847);

}
